body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  color: #ffffff;
  font-family: 'Open Sans';
  width: 100vw;
  height: 100vh;
  margin: 0%;

  #root {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login-container {
    width: 30%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #515274;
    box-shadow: 1px 1px 10px rgba(102, 102, 102, 0.2);
    border-radius: 16px;
    padding: 60px, 120px, 60px, 120px;
    gap: 10px;

    .ant-breadcrumb {
      display: flex;
      justify-content: space-evenly;
      width: 50%;
      align-items: center;
      font-size: 24px;

      .ant-breadcrumb-separator {
        color: #ffffff !important;
      }
    }

    .primal-link {
      color: #aa7edd !important;
      font-weight: 700;
      line-height: 30px;
    }

    .secondary-link {
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
      color: #ffffff !important;
    }

    .input-container {
      width: 70%;
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .forgot-options-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        .forgot-pass-link {
          color: #aa7edd;
          margin-bottom: 10px;
        }
      }

      .options-content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .forgot-pass-link {
          color: #aa7edd;
        }

        .checkbox-remember-me {
          color: white;
          background-color: #515274;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
        }
      }

      .label {
        width: 100%;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
      }

      .login-btn {
        width: 100%;
        height: 40px;
        background: #aa7edd;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
        border-radius: 6px;
        border: none;
        font-weight: 400;
        font-size: 14px;
      }

      .input {
        border: 1px solid #d1d5db;
        border-radius: 6px;
        filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.05));
        background-color: #515274;

        input {
          background-color: #515274;
        }
      }
    }
  }
}

.language-selector {
  position: absolute;
  width: 70px !important;
  color: white !important;
  top: 5%;
  left: 85%;
  font-size: 16px !important;

  :hover {
    cursor: pointer;
  }
}

.google-auth-container {
  width: 70%;

  .google-btn {
    width: 100%;
    height: 40px;
    border: 1px solid #e5e7eb;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    margin-bottom: 40px;
  }

  .ant-divider-plain.ant-divider-with-text {
    color: #d1d5db !important;
    border-top-color: #6b7280;
  }
}

/////////////////// DASHBOARD

.dashboard-container {
  display: flex;
  width: 100%;
  height: 100%;

  .dashboard-content {
    width: 87%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .diagramm-content {
      width: 100%;
      height: 80%;
      display: flex;
      flex-direction: row;

      .events-container {
        background: #13132b;
        border-radius: 12px;
        margin-left: 30px;
        height: 140px;
        width: 100%;
        overflow: auto;
        padding: 24px;

        .event-item {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          margin-top: 25px;

          .event-description {
            display: flex;
            flex-direction: row;
            align-items: center;
          }

          .event-time {
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
            line-height: 14px;
            color: #67748e;
          }

          .event-username {
            margin-left: 30px;
          }

          p {
            margin: 0;
            margin-right: 5px;
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 19px;
          }
        }

        .ant-divider {
          border-top: 1px solid #8c8c8c;
          margin: 12px 0 0 0;
        }

        .events-header {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          width: 25%;

          .header {
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
          }

          .persent {
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
          }

          .day {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            color: #bfbfbf;
            margin-left: 4px;
          }

          p {
            margin: 0;
          }
          .events-values {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
          }
        }
      }

      .events-container::-webkit-scrollbar {
        width: 0;
      }

      .calendar-content {
        width: 28%;

        .tasks-container {
          background: #13132b;
          margin: 30px 30px 0 65px;
          border-radius: 12px;
          display: flex;
          flex-direction: column;
          align-items: center;
          height: 360px;
          overflow: auto;

          .tasks-content {
            width: 100%;
            display: flex;
            flex-direction: row;
            padding: 23px 0 0 16px;
            align-items: center;
            justify-content: space-between;

            #task-time {
              margin: 0;
              padding: 0 16px 0 0;
              font-style: normal;
              font-weight: 400;
              font-size: 10px;
              line-height: 14px;
              color: #67748e;
            }

            .ant-checkbox-wrapper {
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 120%;
              color: white !important;
            }
          }

          .ant-divider {
            border-top: 1px solid #8c8c8c;
            margin: 0;
          }

          .ant-divider-horizontal {
            max-width: none;
            width: 90%;
          }

          .tasks-header {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 15px;

            h1 {
              color: white;
              font-style: normal;
              font-weight: 700;
              font-size: 16px;
            }
          }
        }

        .dashboard {
          margin: 30px 30px 0 65px !important;
        }

        .calendar-container {
          margin: 0 30px 0 30px;

          .calendar {
            background: #13132b;
            border-radius: 12px;

            .ant-picker-calendar-header {
              justify-content: center;

              .ant-select-selector,
              .ant-select {
                background: #13132b;
                color: white;
                border-radius: 4px;

                .ant-select-arrow {
                  color: white;
                }
              }

              .ant-select-selector {
                border: 1px solid #ffffff;
                height: 26px;
              }

              .ant-radio-button-wrapper {
                height: 26px;
                background: #13132b;
                color: white;
                border: 0.5px solid #ffffff;
                border-radius: 4px;
              }
            }

            .ant-picker-panel {
              background: #13132b;
              border-bottom-left-radius: 12px;
              border-bottom-right-radius: 12px;

              .ant-picker-cell-in-view {
                color: white !important;
              }

              .ant-picker-cell,
              .ant-picker-panel,
              .ant-picker-content th {
                color: #67748e;
              }
            }
          }
        }
      }

      .diagramm-container {
        margin: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background: #13132b;
        border: 1px solid #000000;
        border-radius: 12px;
        padding: 24px;

        .diagramm-text {
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;

          .ant-select-arrow {
            color: #ffffff !important;
          }
          .ant-select-selector {
            height: 100%;
            background: #13132b;
            border: none;
            display: flex;
            color: #bfbfbf;
            align-items: center;
          }

          .month-selector {
            width: 126px;
            height: 20px;
            border: 0.3px solid #bfbfbf;
            box-sizing: border-box;
            background: #13132b;
            border-radius: 5px;
          }

          #diagramm-header {
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            color: #ffffff;
          }

          #diagramm-persent {
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 19px;
          }

          #diagramm-month {
            margin-left: 4px;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            color: #bfbfbf;
          }

          .diagramm-value {
            display: flex;
            flex-direction: row;
            align-items: baseline;
          }
        }
      }
    }

    .info-pannel-container {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      padding: 0 30px 0 30px;
      align-items: center;
      height: 10%;

      p {
        margin: 0;
      }

      .info-pannel-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        width: 23%;
        background-color: #13132b;
        box-shadow: 0px 20px 27px rgba(0, 0, 0, 0.05);
        border-radius: 16px;
        padding: 0 15px 0 15px;

        .info-pannel-item-name {
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          color: #bfbfbf;
        }

        .info-item-logo-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 48px;
          height: 48px;
          background: #9769cc;
          box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.12),
            0px 2px 4px -1px rgba(0, 0, 0, 0.07);
          border-radius: 24px;
        }

        .info-pannel-values {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          .info-pannel-item-value {
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            color: #ffffff;
          }

          .positive-dinamiks,
          .negative-dinamiks {
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            margin-left: 4px;
          }

          .positive-dinamiks {
            color: #53d051;
          }

          .negative-dinamiks {
            color: #ea0606;
          }
        }
      }
    }
  }

  .all-header-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    justify-content: space-between;
    align-items: center;

    .header-options-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 28%;
    }
  }

  .header-options-pannel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 65%;
  }

  .user-info-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 40px;

    .arrow-rotated {
      transform: rotate(180deg);
    }

    .arrow,
    .arrow-rotated {
      width: 12px;
      margin-left: 10px;
      cursor: pointer;
    }

    .user-info-content {
      margin-left: 12px;

      p {
        margin: 0;
      }

      .user {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
      }

      .role {
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        color: rgba(217, 217, 217, 0.5);
      }
    }
  }

  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 78%;

    .search-bar {
      border: none;
      background-color: #13132b;
      border-radius: 10px;
      height: 45px;
      display: flex;
      align-items: center;
      padding-left: 10px;
      width: 30%;

      .ant-input-group-addon {
        background-color: #13132b;
      }

      input {
        color: white;
        border: none;
        background-color: #13132b;
      }

      button {
        background-color: #13132b;
        border: none;

        svg {
          color: #bfbfbf;
        }
      }
    }

    .page-info-container {
      padding: 30px;

      .page-info-content {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;

        span {
          color: #bfbfbf;
        }
      }

      .page-name {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        color: white;
        margin-bottom: 0;
      }
    }
  }
}

.sidebar-container {
  display: flex;
  position: sticky;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 250px;
  background-color: #13132b;

  .sidebar-content {
    width: 100%;
    height: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 16px;

    .sidebar-line {
      position: absolute;
      left: 0%;
    }

    .sidebar-name {
      width: 50%;
      display: flex;
      flex-direction: row;
      align-items: center;

      .sidebar-primal {
        margin: 0;
        color: #9769cc;
      }

      .sidebar-secondary {
        margin: 0;
        color: white;
      }

      img {
        margin-right: 20px;
      }
    }
  }

  .sidebar-logo {
    width: 130px;
    margin-top: 35px;
    margin-bottom: 35px;
  }

  .sidebar-devider {
    opacity: 0.2;
    margin-top: 0;
    border-top: 1px solid #8c8c8c;
  }
}

///////////calendar

.members-container {
  display: flex;
  flex-direction: column;
  background-color: #13132b;
  margin: 30px;
  border-radius: 12px;
  height: 500px;
  overflow: auto;

  .member-info {
    margin-left: 12px;

    .user-name {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      color: #bfbfbf;
      margin: 0;
    }

    .user-role {
      color: #67748e;
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      margin: 0;
    }
  }

  .members-content {
    // padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .ant-divider {
    border-top: 1px solid #8c8c8c;
    margin: 0;
  }

  .ant-checkbox-wrapper {
    padding: 12px;

    .checkbox-text {
      color: #bfbfbf;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      margin-left: 12px;
    }
  }

  .members-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px;

    h1 {
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      color: #ffffff;
    }
  }
}

.main-calendar-container {
  width: 76%;
  margin-left: 30px;
  height: 87vh;
}

.mbsc-ios-dark.mbsc-eventcalendar .mbsc-calendar-header,
.mbsc-ios-dark.mbsc-eventcalendar .mbsc-calendar-week-days {
  background-color: #13132b;
}

.mbsc-ios.mbsc-calendar-width-md .mbsc-schedule-all-day-wrapper {
  background-color: #22223a;
  display: none;
}

.mbsc-ios-dark.mbsc-schedule-time-indicator {
  background-color: #13132b;
  color: white;
  border-color: #9769cc;
}

.mbsc-ios-dark.mbsc-schedule-time-indicator-time {
  background-color: #22223a;
  color: white;
  border-color: #9769cc;
}

.mbsc-ios-dark.mbsc-selected .mbsc-calendar-cell-text {
  background-color: #9769cc;
  color: white;
  border-color: #9769cc;
}

.mbsc-ios-dark.mbsc-hover .mbsc-calendar-cell-text {
  background-color: #22223a;
  color: white;
  border-color: #9769cc;
}

.mbsc-material.mbsc-segmented-button.mbsc-button.mbsc-selected {
  background-color: #13132b;
  border-bottom: 2px solid #9769cc;
}

.mbsc-material.mbsc-segmented-button.mbsc-button {
  border: none;
  color: white;
}

.mbsc-ios-dark.mbsc-schedule-header-day-today,
.mbsc-ios-dark.mbsc-calendar-today {
  color: #9769cc;
}

.mbsc-ios-dark.mbsc-schedule-time-indicator-day:before {
  background-color: #9769cc;
}

.mbsc-ios-dark.mbsc-schedule-header {
  background-color: #13132b;
}

.mbsc-ios-dark.mbsc-calendar-button.mbsc-button {
  color: white;
}

.mbsc-ios-dark.mbsc-schedule-header-day.mbsc-selected {
  background-color: #9769cc;
  color: white;
}

.mbsc-ios-dark.mbsc-calendar {
  border-radius: 12px;
}

.mbsc-ios-dark.mbsc-schedule-grid-wrapper,
.mbsc-ios-dark.mbsc-calendar-cell {
  background-color: #22223a;
}
/////////////////////
::-webkit-scrollbar {
  width: 0;
}

.tasks-list-container {
  margin: 0 30px 0 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  .deck-container {
    flex-direction: column;
    overflow: auto;
    height: 85vh;

    width: 30%;

    .drag-new {
      height: 136px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      border: 1px dashed rgba(191, 191, 191, 0.4);
      border-radius: 16px;
      margin: 15px;
    }

    .deck-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      img:hover {
        cursor: pointer;
      }

      p {
        margin: 0 0 0 10px;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
      }
    }
  }

  .task-list-item {
    background: #515274;
    box-shadow: 0px 20px 27px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    margin: 15px 0;
    height: 136px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .task-footer-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    .date-container {
      display: flex;
      width: fit-content;
      padding: 3px;
      border-radius: 6px;
      align-items: center;
      justify-content: center;

      .task-expire-date {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 0 0 0 4px;
      }
    }

    .task-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    &:hover {
      cursor: grab;
    }
  }
}

.ant-modal-content {
  background: #515274;
  box-shadow: 1px 1px 10px rgba(102, 102, 102, 0.2);
  border-radius: 16px;

  .ant-modal-header {
    background: #515274;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;

    .ant-modal-title {
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 100%;
      color: white;
    }
  }

  .ant-modal-footer {
    .ant-btn-primary {
      background-color: #7cd0a9;
      color: white;
      border-radius: 8px;
      width: 115px;
      height: 31px;
      border: none;
    }

    .ant-btn-default {
      background: #515274;
      color: white;
      border-radius: 8px;
      width: 115px;
      height: 31px;
    }
  }

  .ant-modal-body {
    p {
      color: white;
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      margin-top: 15px;
    }

    .ant-picker {
      background-color: #515274;
      margin-right: 15px;
      border-radius: 8px;

      .anticon {
        color: #7cd0a9;
      }
    }

    .add-assigner {
      background: rgba(250, 250, 250, 0.16);
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 18px;
      width: 35px;
      height: 35px;
      border-radius: 50%;
    }

    .comments-area,
    .description-area,
    .ant-input {
      border: 1px solid #bfbfbf;
      border-radius: 12px;
      background-color: #515274;
    }
  }

  .anticon {
    color: #bfbfbf;
  }
}

.edit-modal-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 94%;
  padding: 3px;

  p {
    margin: 0;
  }
}
